@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e6e6;
    font-family: 'Jost', sans-serif;
}

#header {
    width: 100%;
    height: 100px;
    background: #3f5267;
}

#up-header {
    width: 100%;
    height: 40px;
    background: #74889e;
    display: flex;
    align-items: center;
}

#up-header > * {
    flex-basis: 0;
    flex-grow: 1;
}

#up-header #link ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#up-header #link ul li {
    padding: 4px 8px;
}

#up-header #link ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

#up-header #date {
    font-family: 'Jost', sans-serif;
}

#up-header #date p {
    color: #fff;
    margin: auto;
    font-size: 14px;
    text-align: center;
}

#up-header #slog p {
    color: #fff;
    margin: auto;
    font-size: 14px;
    text-align: center;
}

#down-header {
    height: 60px;
    display: flex;
    align-items: center;
}

#title {
    width: 20%;
    height: 60px;
}

#title h2 {
    text-align: center;
}

#title h2 a {
    line-height: 60px;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

#menu {
    width: 8%;
}

#menu h2 {
    color: #fff;
    text-align: center;
    cursor: pointer;
}

#header-search {
    width: 50%;
}

#header-search form {
    margin: 0;
    padding: 0 2%;
}

#header-search form input {
    width: 90%;
    height: 32px;
    background: #fff;
    outline: none;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border: 1px solid #3f5267;
    border-right: none;
    padding: 0 16px;
    box-sizing: border-box;
}

#header-search form button {
    width: 5%;
    height: 32px;
    background: #fff;
    outline: none;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    border: 1px solid #3f5267;
    border-left: none;
    padding-right: 16px;
    margin-left: -16px;
    box-sizing: border-box;
}


#header-cart {
    width: 6%;
    height: 60px;
}

#header-cart a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;    
    line-height: 60px;
}

#header-cart a span {
    margin-left: 4px;
    font-size: 12px;
}

#header-login {
    width: 10%;
    height: 60px;
}

#header-login h4 {
    line-height: 60px;
    cursor: pointer;
}

#header-login h4 a {
    text-decoration: none;
    color: #fff;
}

#header-login h4 a i {
    margin-right: 8px;
}

#header-signup {
    width: 10%;
    height: 60px;
}

#header-signup h4 {
    cursor: pointer;
    line-height: 60px;
}

#header-signup h4 a {
    text-decoration: none;
    color: #fff;
}

#header-signup h4 a i {
    margin-right: 8px;
}

#slider {
    width: 100%;
    height: 420px;
}

#slider img {
    width: 100%;
    height: 100%;
}

#home-cat {
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
}

#home-cat h3 {
    text-align: center;
    color: #3f5267;
    font-weight: bold;
    font-size: 2.25rem;
    font-family: 'Jost', sans-serif;
}

#home-cat ul {
    margin-top: 2rem;
    list-style: none;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home-cat ul li {
    background: #fff;
    margin: 0.75rem;
    padding: 1.75rem;
    width: 160px;
    height: 160px;
    transition: all 250ms ease-in-out;
}

#home-cat ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#home-cat ul li a i {
    text-align: center;
    color: #3f5267;
    font-size: 60px;
}

#home-cat ul li a h4 {
    color: #3f5267;
    margin-top: 1rem;
    text-align: center;
}

#home-cat ul li a p {
    color: #3f5267;
    margin-top: 1.25rem;
}

#home-cat ul li:hover {
    background: #3f5267;
    border-radius: 999px;
}


#home-cat ul li:hover a h4,
#home-cat ul li:hover a i,
#home-cat ul li:hover a p { 
    color: #fff;
}

#top-course {
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
}

#top-course h3 {
    text-align: center;
    color: #3f5267;
    font-weight: bold;
    font-size: 2.25rem;
    font-family: 'Jost', sans-serif;
}

#top-course .course-card {
    background: #fff;
    margin: 0.75rem;
    padding: 0.75rem;
    width: 160px;
    height: 240px;
    transition: all 250ms ease-in-out;
}

#top-course .course-card a {
    text-decoration: none;
}

#top-course .course-card img {
    width: 100%;
    height: 120px;
}

#top-course .course-card a h3 {
    color: #3f5267;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
}

#top-course .course-card a h4 {
    color: #3f5267;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-top: 8px;
}

#top-course .course-card a h5 {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

#top-course .course-card:hover {
    transform: scale(1.12);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    grid-gap: 0.5rem;
}